.fotoSlider{
    height:auto;
    width:auto;
}
body{
    padding-top:50px;

    font-family: 'Lato', sans-serif;
    font-family: 'Meow Script', cursive;
    font-family: 'Vollkorn', serif;

    background-color:  rgba(223,207,183);
}
.muzeler{
background-color: rgba(223,207,183) ;
}
.container{
    background-color:rgba(223,207,183) ;
}
.card{
    background-color: rgba(223,207,183) ;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.galeri{
    background-color:rgba(223,207,183) ;
    }
.figure hover{
    opacity:0.8;
} 
